// -------------
// ----------Header Campaign styles --------
// --------------
.header-top-campaign{
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px 0;
    position: relative;
    transition: .3s;
    .campaign-content{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 30px;
        @media #{$sm-layout} {
            display: block;
        }
        p{
            color: #eeb2ff;
            font-size: 14px;
            a{
                font-weight: 700;
                color: var(--color-white);
                text-decoration: underline;
                transition: all .3s ease-in-out;
                &:hover{
                    color: var(--color-secondary);
                }
                @media #{$sm-layout} {
                    display: block;
                }
            }
        }
    }
    .remove-campaign{
        position: absolute;
        top: 11px;
        right: 30px;
        background: transparent;
        color: var(--color-white);
        width: auto;
        font-size: 14px;
        &:hover{
            color: var(--color-primary);
        }
        @media only screen and (max-width: 991px) {
            right: 10px;
        }
    }
}